body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/pexels-mart-production-7718677.jpg) center center no-repeat;
  background-size: cover;
}

.my-to-do, .to-do-block {
  margin: 112px;
  padding: 34px;
  width: 520px;
  height: 320px;
  border-radius: 34px;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: 7px 7px 7px 7px rgba(13, 11, 11, 0.2);
}

.my-to-do {
  background-color: rgb(206, 196, 245);
}

.to-do-block {
  width: 720px;
  height: 420px;
  background-color: rgb(156, 175, 252);
  text-shadow: 3px 2px 2px #0664fc4d;
}

button {
  font-weight: bold;
  border-radius: 23px;
  border: none;
  width: 42px;
  padding: 8px 2px;
  font-size: 1.2em;
  height: 49px;
  margin: 6px;
  transition: background-color 1.ms ease;
  cursor: pointer;
}

.add-task {
  width: 100px;
  height: 60px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 12px;
}

.move-up {
  background-color: #53a5fc;   
  width: 39px;
  height: 39px;
}

.move-up:hover {
  background-color: rgb(66, 178, 253);   
}

.move-down {
  background-color: #53a5fc;   
  width: 39px;
  height: 39px;
}

.move-down:hover {
  background-color: rgb(63, 174, 248);   
}

.delete-task {
  background-color: rgb(255, 110, 110);   
}

.delete-task:hover {
  background-color: rgb(251, 49, 49);   
}

input{
  border-radius: 19px;
  padding: 10px;
  border: 2px solid rgb(130, 130, 130);
  font-size: 1.5em;
  width: 360px;
  margin: 5px;
  height: 40px;
  background-color: rgb(252, 252, 252);
}

li{
  font-size: 1rem;
  font-weight: bold;
  border-radius: 24px;
  padding: 6px;
  margin-bottom: 12px;
  background-color: rgb(205, 224, 250);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  text-align: center;
}


ol {
  
  margin: 3px;
  padding: 0px;
  font-size: 1.2em;
  list-style: none;
}

#message {
  color: rgb(143, 45, 248);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  margin: 6px;
  margin-top: 10px;
  padding: 0px;
  width: 150px;
  height: 150px;
  border-radius: 34px;
}

img:hover {
  width: 149px;
  height: 149px;
  cursor: pointer;
}

.tick-image {
  width: 180px;
  height: 150px;
}

.tick-image:hover {
  width: 180px;
}